In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport

In [2]:
df = pd.read_csv("../data/carprice.csv")

In [3]:
profile = ProfileReport(df, title="Profiling Report")

In [4]:
profile.to_file("report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [5]:
# calculer la corrélation par rapport au prix
corr_matrix = df.corr()["prix"].sort_values(ascending=False)
corr_matrix

/tmp/ipykernel_5558/734790020.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr()["prix"].sort_values(ascending=False)

prix                               1.000000
taille_moteur                      0.873886
poids_vehicule(kg)                 0.833998
chevaux                            0.806986
consommation_autoroute(L/100km)    0.789543
consommation_ville(L/100km)        0.786847
largeur_voiture(cm)                0.758177
longueur_voiture(cm)               0.681320
empattement(cm)                    0.576001
taux_alésage(cm)                   0.568519
hauteur_voiture(cm)                0.117971
taux_compression                   0.066200
course_piston(cm)                  0.059687
niveau_risque_assurance           -0.078380
tour_moteur                       -0.090774
Name: prix, dtype: float64

In [6]:
df.head()

,niveau_risque_assurance,carburant,turbo,nombre_portes,type_vehicule,roues_motrices,emplacement_moteur,empattement(cm),longueur_voiture(cm),largeur_voiture(cm),...,taux_alésage(cm),course_piston(cm),taux_compression,chevaux,tour_moteur,consommation_ville(L/100km),consommation_autoroute(L/100km),prix,marque,modele
0,3,gas,std,two,décapotable,propulsion,avant,225.04,428.75,162.81,...,8.81,6.81,9.0,111,5000,11.20,8.71,13495.0,alfa-romeo,giulia
1,3,gas,std,two,décapotable,propulsion,avant,225.04,428.75,162.81,...,8.81,6.81,9.0,111,5000,11.20,8.71,16500.0,alfa-romeo,stelvio
2,1,gas,std,two,hayon,propulsion,avant,240.03,434.85,166.37,...,6.81,8.81,9.0,154,5000,12.38,9.05,16500.0,alfa-romeo,Quadrifoglio
3,2,gas,std,four,berline,traction,avant,253.49,448.56,168.15,...,8.10,8.64,10.0,102,5500,9.80,7.84,13950.0,audi,100ls
4,2,gas,std,four,berline,quatre_roues_motrices,avant,252.48,448.56,168.66,...,8.10,8.64,8.0,115,5500,13.07,10.69,17450.0,audi,100ls